<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Appender 설정들 -->
    <!-- 콘솔 Appender: 기본 구성 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${FILE_LOG_THRESHOLD:-TRACE}</level>
        </filter>
        <encoder>
            <pattern>[%X{traceId}] ${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET:-${file.encoding:-UTF-8}}</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>